{% extends 'shared/_home_layout.html' %}



{% block title %}
    فی کافی | خانه
{% endblock %}

{% block loading_page %}
    <!--- body loading --->
{#    {% include 'shared/components/loading_page.html' %}#}
{% endblock %}

{% block content %}
    <div role="main" class="main">
        <div class="owl-carousel owl-carousel-light owl-carousel-light-init-fadeIn owl-theme manual dots-inside dots-horizontal-center show-dots-hover show-dots-xs nav-style-1 nav-arrows-thin nav-inside nav-inside-plus nav-dark nav-lg nav-font-size-lg show-nav-hover mb-0"
             data-plugin-options="{'autoplay': true, 'autoplayTimeout': 10000}" style="height: 860px;">
            <div class="owl-stage-outer">
                <div class="owl-stage">
                    <!-- Carousel Slide 1 -->
                    <div class="owl-item position-relative overflow-hidden">
                        <div class="background-image-wrapper p-absolute top-0 left-0 right-0 bottom-0"
                             data-appear-animation="kenBurnsToLeft" data-appear-animation-duration="30s"
                             data-plugin-options="{'minWindowWidth': 0}" data-carousel-onchange-show
                             style="background-size: cover; background-position: center;"></div>
                        <div class="container position-relative z-index-3 h-100">
                            <div class="row align-items-center justify-content-start h-100">
                                <div class="col-lg-8 col-xl-7 text-center">
                                    <h2 class="custom-primary-font font-weight-semi-bold text-color-primary positive-ls-2 line-height-4 text-3 text-md-5 mb-1 appear-animation"
                                        data-appear-animation="fadeInUpShorterPlus" data-appear-animation-delay="300"
                                        data-plugin-options="{'minWindowWidth': 0}"></h2>
                                    <h1 class="text-color-primary font-weight-bold fst-italic ls-0 text-9 custom-text-lg-1 line-height-2 mb-3 appear-animation"
                                        data-appear-animation="fadeInUpShorterPlus" data-appear-animation-delay="500"
                                        data-plugin-options="{'minWindowWidth': 0}">FeeCoffee</h1>
                                    <p class="text-color-default text-5 font-weight-normal line-height-5 mb-4 appear-animation"
                                       data-appear-animation="fadeInUpShorterPlus" data-appear-animation-delay="700"
                                       data-plugin-options="{'minWindowWidth': 0}">اولین اجتماع بزرگ و تخصصی صنعت قهوه و
                                        ملزومات مرتبط</p>
                                    <span class="anim-hover-scale-1-1 transition-3ms d-inline-block">
                                        {% if request.user.is_authenticated %}
                                            <a href="#"
                                               class="btn btn-primary positive-ls-3 font-weight-normal btn-px-5 btn-py-3 text-uppercase appear-animation"
                                               data-appear-animation="fadeInUpShorterPlus"
                                               data-appear-animation-delay="900"
                                               data-plugin-options="{'minWindowWidth': 0}">کافه های اطراف</a>
                                        {% else %}
                                            <a href="#"
                                               class="btn btn-primary positive-ls-3 font-weight-normal btn-px-5 btn-py-3 text-uppercase appear-animation"
                                               data-appear-animation="fadeInUpShorterPlus"
                                               data-appear-animation-delay="900"
                                               data-plugin-options="{'minWindowWidth': 0}">کافه های اطراف</a>
                                        {% endif %}
											</span>
                                    <span class="anim-hover-scale-1-1 transition-3ms d-inline-block">
												<a href="#"
                                                   class="btn btn-light positive-ls-3 font-weight-normal btn-px-5 btn-py-3 text-uppercase ms-2 appear-animation"
                                                   data-appear-animation="fadeInUpShorterPlus"
                                                   data-appear-animation-delay="1100"
                                                   data-plugin-options="{'minWindowWidth': 0}">ثبت نام فروشگاه/کافه</a>
											</span>
                                </div>
                            </div>
                        </div>
                        <div class="p-absolute bottom-0 left-0 w-100 text-center custom-tertiary-font transform3dy-p50 appear-animation"
                             data-appear-animation="fadeIn" data-appear-animation-delay="1300"
                             data-plugin-options="{'minWindowWidth': 0}">
                            <span class="text-color-light custom-text-lg-2 opacity-3 opacity-hover ws-nowrap">Fee Coffee</span>
                        </div>
                        <div class="p-absolute bottom-10 left-10 appear-animation" data-appear-animation="fadeIn"
                             data-appear-animation-delay="1300" data-plugin-options="{'minWindowWidth': 0}">
                            <img width="123" height="126" src="" alt=""
                                 data-icon data-plugin-options="{'onlySVG': true, 'extraClass': ''}"/>
                        </div>
                    </div>
                    <!-- Carousel Slide 2 -->
                    <div class="owl-item position-relative overflow-hidden">
                        <div class="background-image-wrapper p-absolute top-0 left-0 right-0 bottom-0"
                             data-appear-animation="kenBurnsToRight" data-appear-animation-duration="30s"
                             data-plugin-options="{'minWindowWidth': 0}" data-carousel-onchange-show
                             style=" background-size: cover; background-position: center;"></div>
                        <div class="container position-relative z-index-3 h-100">
                            <div class="row align-items-center justify-content-center h-75">
                                <div class="col-lg-7 text-center">
                                    <h2 class="custom-primary-font font-weight-semi-bold text-color-primary positive-ls-2 line-height-4 text-3 text-md-5 mb-1 appear-animation"
                                        data-appear-animation="fadeInUpShorterPlus" data-appear-animation-delay="300"
                                        data-plugin-options="{'minWindowWidth': 0}"></h2>
                                    <h1 class="text-color-primary font-weight-bold ls-0 text-9 custom-text-lg-1 line-height-2 mb-3 appear-animation"
                                        data-appear-animation="fadeInUpShorterPlus" data-appear-animation-delay="500"
                                        data-plugin-options="{'minWindowWidth': 0}">فی کافی</h1>
                                    <p class="text-color-default text-5 font-weight-normal line-height-5 mb-4 appear-animation"
                                       data-appear-animation="fadeInUpShorterPlus" data-appear-animation-delay="700"
                                       data-plugin-options="{'minWindowWidth': 0}">اولین اجتماع بزرگ و تخصصی صنعت قهوه و
                                        ملزومات مرتبط</p>
                                    <span class="anim-hover-scale-1-1 transition-3ms d-inline-block">
                                        {% if request.user.is_authenticated %}
                                            <a href="#"
                                               class="btn btn-primary positive-ls-3 font-weight-normal btn-px-5 btn-py-3 text-uppercase appear-animation"
                                               data-appear-animation="fadeInUpShorterPlus"
                                               data-appear-animation-delay="900"
                                               data-plugin-options="{'minWindowWidth': 0}">کافه های اطراف</a>
                                        {% else %}
                                            <a href="#"
                                               class="btn btn-primary positive-ls-3 font-weight-normal btn-px-5 btn-py-3 text-uppercase appear-animation"
                                               data-appear-animation="fadeInUpShorterPlus"
                                               data-appear-animation-delay="900"
                                               data-plugin-options="{'minWindowWidth': 0}">کافه های اطراف</a>
                                        {% endif %}
											</span>
                                    <span class="anim-hover-scale-1-1 transition-3ms d-inline-block">
												<a href="#"
                                                   class="btn btn-light positive-ls-3 font-weight-normal btn-px-5 btn-py-3 text-uppercase ms-2 appear-animation"
                                                   data-appear-animation="fadeInUpShorterPlus"
                                                   data-appear-animation-delay="1100"
                                                   data-plugin-options="{'minWindowWidth': 0}">ثبت نام فروشگاه/کافه</a>
											</span>
                                </div>
                            </div>
                        </div>
                        <div class="p-absolute bottom-0 left-0 w-100 text-center custom-tertiary-font transform3dy-p50 appear-animation"
                             data-appear-animation="fadeIn" data-appear-animation-delay="1300"
                             data-plugin-options="{'minWindowWidth': 0}">
                            <span class="text-color-light custom-text-lg-2 opacity-3 opacity-hover ws-nowrap d-block ws-nowrap">Fee Coffee</span>
                        </div>
                        <div class="p-absolute bottom-10 right-10 rotate-l-90 appear-animation"
                             data-appear-animation="fadeIn" data-appear-animation-delay="1300"
                             data-plugin-options="{'minWindowWidth': 0}">
                            <img width="123" height="126" src="" alt=""
                                 data-icon data-plugin-options="{'onlySVG': true, 'extraClass': ''}"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="owl-nav">
                <button type="button" role="presentation" class="owl-prev" aria-label="Previous"></button>
                <button type="button" role="presentation" class="owl-next" aria-label="Next"></button>
            </div>
        </div>

        <!--- services --->
        <div class="container mb-5 pb-5" id="services" style="padding-top: 3rem">
            <div class="row pt-4 pb-2">
                <div class="col">
                    <h3 class="text-color-primary font-weight-bold ls-0 text-8 mb-3 appear-animation"
                        data-appear-animation="fadeInUpShorterPlus" data-appear-animation-delay="100"
                        data-plugin-options="{'minWindowWidth': 0}">خدمات ما</h3>
                    <p class="text-color-default text-4 font-weight-normal line-height-7 mb-4 appear-animation"
                       data-appear-animation="fadeInUpShorterPlus" data-appear-animation-delay="300"
                       data-plugin-options="{'minWindowWidth': 0}">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت
                        چاپ و با استفاده از طراحان گرافیک است</p>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 mb-3 mb-md-0">
                    <div class="anim-hover-scale-1-1 transition-3ms">
                        <div class="card custom-card-services border-0 border-radius-0 bg-color-grey appear-animation"
                             data-appear-animation="fadeInUpShorterPlus" data-appear-animation-delay="100"
                             data-plugin-options="{'minWindowWidth': 0}">
                            <div class="card-body d-flex align-items-end">
                                <div class="custom-card-services-icon">
                                    <img height="290" src=""
                                         alt="" data-icon data-plugin-options="{'onlySVG': true, 'extraClass':
											''}"/>
                                </div>
                                <div class="custom-card-services-content">
                                    <ul class="list-unstyled">
                                        <li>نمایش کافه های نزدیک شما</li>
                                        <li>نمایش منوی کافه ها</li>
                                    </ul>
                                    {% if request.user.is_authenticated %}
                                        <a href="#"
                                           class="text-primary text-5 text-decoration-none font-weight-bold">کافه
                                            های اطراف
                                        </a>
                                    {% else %}
                                        <a href="#"
                                           class="text-primary text-5 text-decoration-none font-weight-bold">کافه
                                            های اطراف
                                        </a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-3 mb-md-0">
                    <div class="anim-hover-scale-1-1 transition-3ms">
                        <div class="card custom-card-services border-0 border-radius-0 bg-color-grey appear-animation"
                             data-appear-animation="fadeInUpShorterPlus" data-appear-animation-delay="300"
                             data-plugin-options="{'minWindowWidth': 0}">
                            <div class="card-body d-flex align-items-end">
                                <div class="custom-card-services-icon">
                                    <img height="290"
                                         src=""
                                         alt="" data-icon data-plugin-options="{'onlySVG': true, 'extraClass':
											''}"/>
                                </div>
                                <div class="custom-card-services-content">
                                    <ul class="list-unstyled">
                                        <li>نمایش انواع قهوه پودر/دانه</li>
                                        <li>فیلترهای متنوع برای انتخاب بهتر</li>
                                        <li>نمایش بر اساس فاصله به شما و فرشندگان ممتاز</li>
                                    </ul>
                                    {% if user.user_type == "seller" %}
                                        <a href="#"
                                           class="text-primary text-5 text-decoration-none font-weight-bold">فروشگاه
                                            های قهوه
                                        </a>
                                    {% else %}
                                        <a href="#"
                                           class="text-primary text-5 text-decoration-none font-weight-bold">فروشگاه
                                            های قهوه
                                        </a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="anim-hover-scale-1-1 transition-3ms">
                        <div class="card custom-card-services border-0 border-radius-0 bg-color-grey appear-animation"
                             data-appear-animation="fadeInUpShorterPlus" data-appear-animation-delay="500"
                             data-plugin-options="{'minWindowWidth': 0}">
                            <div class="card-body d-flex align-items-end">
                                <div class="custom-card-services-icon">
                                    <img height="290" src=""
                                         alt="" data-icon data-plugin-options="{'onlySVG': true, 'extraClass':
											''}"/>
                                </div>
                                <div class="custom-card-services-content">
                                    <ul class="list-unstyled">
                                        <li>نمایش انواع ملزومات مرتبط با قهوه</li>
                                        <li>فیلترهای متنوع برای یافتن سریع محصول</li>
                                        <li>دسته بندی مناسب محصولات</li>
                                    </ul>
                                    {% if user.user_type == "seller" %}
                                        <a href="#"
                                           class="text-primary text-5 text-decoration-none font-weight-bold">فروشگاه
                                            های ملزومات
                                        </a>
                                    {% else %}
                                        <a href="#"
                                           class="text-primary text-5 text-decoration-none font-weight-bold">فروشگاه
                                            های ملزومات
                                        </a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                {#                <div class="col text-center pt-4 mt-1">#}
                {#							<span class="anim-hover-scale-1-1 transition-3ms d-inline-block">#}
                {#								<a href="demo-beauty-salon-book-now.html"#}
                {#                                   class="btn btn-primary positive-ls-3 font-weight-normal btn-px-5 btn-py-3 text-uppercase appear-animation"#}
                {#                                   data-appear-animation="fadeInUpShorterPlus" data-appear-animation-delay="700"#}
                {#                                   data-plugin-options="{'minWindowWidth': 0}">Book Now</a>#}
                {#							</span>#}
                {#                </div>#}
            </div>
        </div>

        <!--- about us --->
        <div class="container pt-5" id="about">
            <div class="row py-5 align-items-center">
                <div class="col-lg-5 mb-3 mb-lg-0">
                    <div class="appear-animation block-appear-animation"
                         data-appear-animation="blockSlide blockSlideToRight">
                        <div class="block-appear-animation-wrapper">
                            <div class="owl-carousel owl-theme"
                                 data-plugin-options="{'items': 1, 'nav': false, 'dots': false, 'autoplay': true, 'autoplayTimeout': 2000, 'margin': 10, 'animateOut': 'fadeOut'}">
                                <div>
                                    <img class="img-fluid" src="" alt="">
                                </div>
                                <div>
                                    <img class="img-fluid" src="" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7 ps-lg-4">
                    <h2 class="text-color-primary font-weight-bold ls-0 text-13 line-height-2 mb-3 appear-animation"
                        data-appear-animation="fadeInUpShorterPlus" data-appear-animation-delay="500"
                        data-plugin-options="{'minWindowWidth': 0}">درباره فی کافی</h2>
                    <p class="text-color-default text-4 font-weight-normal line-height-7 mb-4 appear-animation"
                       data-appear-animation="fadeInUpShorterPlus" data-appear-animation-delay="700"
                       data-plugin-options="{'minWindowWidth': 0}">{{ site_setting.about_us_text }}</p>
                    <span class="anim-hover-scale-1-1 transition-3ms d-inline-block">
								<a href="demo-beauty-salon-about.html"
                                   class="btn btn-primary positive-ls-3 font-weight-normal btn-px-5 btn-py-3 text-uppercase appear-animation"
                                   data-appear-animation="fadeInUpShorterPlus" data-appear-animation-delay="900"
                                   data-plugin-options="{'minWindowWidth': 0}">درباره ما</a>
							</span>
                </div>
            </div>
        </div>

        <!--- clients reviews --->
        <section class="section parallax bg-transparent border-0 py-0 m-0 p-relative" data-plugin-parallax
                 data-plugin-options="{'speed': 1.5, 'scrollableParallax': true, 'scrollableParallaxMinWidth': 991, 'startOffset': 13, 'cssProperty': 'width', 'cssValueStart': 40, 'cssValueEnd': 100, 'cssValueUnit': 'vw'}">
            <div class="d-flex justify-content-center">
                <div class="scrollable-parallax-wrapper bg-primary overflow-hidden py-5">
                    <div class="container custom-container-style-1 custom-container-position-1 py-5 my-5 mx-0">
                        <div class="row justify-content-center pt-3 mb-3">
                            <div class="col-sm-8 col-md-12 text-center">
                                <h3 class="text-color-light font-weight-bold fst-italic ls-0 text-8 mb-3 appear-animation"
                                    data-appear-animation="fadeInUpShorterPlus" data-appear-animation-delay="100"
                                    data-plugin-options="{'minWindowWidth': 0}">نظرات کاربران</h3>
                            </div>
                        </div>
                        <div class="row justify-content-center pb-3">
                            <div class="col-lg-9">
                                <div class="owl-carousel owl-theme nav-style-1 nav-light nav-outside nav-font-size-lg custom-dots-style-1 custom-dots-style-1-light mb-0"
                                     data-plugin-options="{'responsive': {'0': {'items': 1, 'nav': false, 'dots': true}, '576': {'items': 1, 'nav': false, 'dots': true}, '768': {'items': 1, 'nav': false, 'dots': true}, '992': {'items': 1}, '1200': {'items': 1}}, 'loop': false, 'nav': false, 'dots': false, 'autoplay': true, 'autoplayTimeout': 10000, 'animateOut': 'fadeOut'}">
                                    <div>
                                        <div class="testimonial testimonial-style-2 testimonial-with-quotes testimonial-remove-right-quote custom-testimonial-quote mb-0">
                                            <blockquote>
                                                <p class="custom-font-secondary text-color-light opacity-8 font-weight-light line-height-6 text-4-5 px-2 px-lg-3 mb-0">
                                                    <em>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
                                                        استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله
                                                        در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد
                                                        نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد
                                                        کتابهای زیادی در شصت و سه درصد گذشته حال و آینده شناخت فراوان
                                                        جامعه و متخصصان را می طلبد</em></p>
                                            </blockquote>
                                            <div class="testimonial-author">
                                                <p class="text-color-light font-weight-bold text-4 mb-0">جواد
                                                    خیابانی</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="testimonial testimonial-style-2 testimonial-with-quotes testimonial-remove-right-quote custom-testimonial-quote mb-0">
                                            <blockquote>
                                                <p class="custom-font-secondary text-color-light opacity-8 font-weight-light line-height-6 text-4-5 px-2 px-lg-3 mb-0">
                                                    <em>Sed eget risus porta, tincidunt turpis at, interdum tortor.
                                                        Suspendisse potenti. Lorem ipsum dolor sit amet, consectetur
                                                        adipiscing elit.</em></p>
                                            </blockquote>
                                            <div class="testimonial-author">
                                                <p class="text-color-light font-weight-bold text-4 mb-0">Melissa
                                                    Smith</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="opacity-5">
                <div class="p-absolute bottom-0 left-0 w-100 text-center custom-tertiary-font transform3dy-p50 appear-animation"
                     data-appear-animation="fadeIn" data-appear-animation-delay="100"
                     data-plugin-options="{'minWindowWidth': 0}">
                    <span class="text-color-light custom-text-lg-2 opacity-1 opacity-hover ws-nowrap d-block pb-5">clients reviews</span>
                </div>
            </div>
        </section>

        <!--- shop section to Best Selling Products --->
        <div class="container py-5 shop" id="shop">
            <div class="row pt-4 pb-2">
                <div class="col">
                    <h3 class="text-color-primary font-weight-bold ls-0 text-8 mb-3 appear-animation"
                        data-appear-animation="fadeInUpShorterPlus" data-appear-animation-delay="100"
                        data-plugin-options="{'minWindowWidth': 0}">پرفروش ترین محصولات</h3>
                    <p class="text-color-default text-3 font-weight-normal line-height-7 mb-4 appear-animation"
                       data-appear-animation="fadeInUpShorterPlus" data-appear-animation-delay="300"
                       data-plugin-options="{'minWindowWidth': 0}">در این قسمت محصولات فروشگاهی که بیشترین فروش را داشته
                        اند بدلیل محبوبیتشان به شما نمایش داده می شوند.</p>
                    <hr>
                </div>
            </div>
            <div class="products row row-gutter-sm mb-4 appear-animation" data-appear-animation="fadeInUpShorter"
                 data-appear-animation-delay="750">
                <div class="col-12 col-md-4 mb-4 mb-lg-0">
                    <div class="product mb-0">
                        <div class="product-thumb-info border-0 mb-3">
                            <div class="addtocart-btn-wrapper">
                                <a href="shop-cart.html" class="text-decoration-none addtocart-btn" title="Add to Cart">
                                    <i class="icons icon-bag"></i>
                                </a>
                            </div>
                            <a href="#" class="quick-view text-uppercase font-weight-semibold text-2">
                                نمایش محصول
                            </a>
                            <a href="shop-product-sidebar-left.html">
                                <div class="product-thumb-info-image bg-light">
                                    <img alt="" class="img-fluid"
                                         src="">
                                </div>
                            </a>
                        </div>
                        <div class="d-flex justify-content-between">
                            <div>
                                <a href="#"
                                   class="d-block text-uppercase text-decoration-none text-color-default text-color-hover-primary line-height-1 text-0 mb-1">CATEGORY</a>
                                <h3 class="text-3-5 font-weight-medium custom-primary-font text-transform-none line-height-3 mb-0">
                                    <a href="" class="text-color-dark text-color-hover-primary">Product Short Name</a>
                                </h3>
                            </div>
                        </div>
                        <div title="Rated 5 out of 5">
                            <input type="text" class="d-none" value="5" title="" data-plugin-star-rating
                                   data-plugin-options="{'displayOnly': true, 'color': 'default', 'size':'xs'}">
                        </div>
                        <p class="price text-5 mb-3">
                            <span class="sale text-color-dark font-weight-medium">49,00</span>
                            <span class="amount">59,00</span>
                        </p>
                    </div>
                </div>
                <div class="col-12 col-md-4 mb-4 mb-lg-0">
                    <div class="product mb-0">
                        <div class="product-thumb-info border-0 mb-3">
                            <div class="product-thumb-info-badges-wrapper">
                                <span class="badge badge-ecommerce text-bg-danger">27% OFF</span>
                            </div>
                            <div class="addtocart-btn-wrapper">
                                <a href="shop-cart.html" class="text-decoration-none addtocart-btn" title="Add to Cart">
                                    <i class="icons icon-bag"></i>
                                </a>
                            </div>
                            <a href="#" class="quick-view text-uppercase font-weight-semibold text-2">
                                QUICK VIEW
                            </a>
                            <a href="shop-product-sidebar-left.html">
                                <div class="product-thumb-info-image bg-light">
                                    <img alt="" class="img-fluid"
                                         src="">
                                </div>
                            </a>
                        </div>
                        <div class="d-flex justify-content-between">
                            <div>
                                <a href="#"
                                   class="d-block text-uppercase text-decoration-none text-color-default text-color-hover-primary line-height-1 text-0 mb-1">CATEGORY</a>
                                <h3 class="text-3-5 font-weight-medium custom-primary-font text-transform-none line-height-3 mb-0">
                                    <a href="" class="text-color-dark text-color-hover-primary">Product Short Name</a>
                                </h3>
                            </div>
                        </div>
                        <div title="Rated 5 out of 5">
                            <input type="text" class="d-none" value="5" title="" data-plugin-star-rating
                                   data-plugin-options="{'displayOnly': true, 'color': 'default', 'size':'xs'}">
                        </div>
                        <p class="price text-5 mb-3">
                            <span class="sale text-color-dark font-weight-medium">49,00</span>
                            <span class="amount">59,00</span>
                        </p>
                    </div>
                </div>
                <div class="col-12 col-md-4 mb-4 mb-lg-0">
                    <div class="product mb-0">
                        <div class="product-thumb-info border-0 mb-3">
                            <div class="product-thumb-info-badges-wrapper">
                                <span class="badge badge-ecommerce text-bg-danger">27% OFF</span>
                            </div>
                            <div class="addtocart-btn-wrapper">
                                <a href="shop-cart.html" class="text-decoration-none addtocart-btn" title="Add to Cart">
                                    <i class="icons icon-bag"></i>
                                </a>
                            </div>
                            <a href="#" class="quick-view text-uppercase font-weight-semibold text-2">
                                QUICK VIEW
                            </a>
                            <a href="shop-product-sidebar-left.html">
                                <div class="product-thumb-info-image bg-light">
                                    <img alt="" class="img-fluid"
                                         src="">
                                </div>
                            </a>
                        </div>
                        <div class="d-flex justify-content-between">
                            <div>
                                <a href="#"
                                   class="d-block text-uppercase text-decoration-none text-color-default text-color-hover-primary line-height-1 text-0 mb-1">CATEGORY</a>
                                <h3 class="text-3-5 font-weight-medium custom-primary-font text-transform-none line-height-3 mb-0">
                                    <a href="" class="text-color-dark text-color-hover-primary">Product Short Name</a>
                                </h3>
                            </div>
                        </div>
                        <div title="Rated 5 out of 5">
                            <input type="text" class="d-none" value="5" title="" data-plugin-star-rating
                                   data-plugin-options="{'displayOnly': true, 'color': 'default', 'size':'xs'}">
                        </div>
                        <p class="price text-5 mb-3">
                            <span class="sale text-color-dark font-weight-medium">49,00</span>
                            <span class="amount">59,00</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>


        <!--- about and contact in middle of the page to Best Cafe and Shop --->
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-lg-6 p-0">
                    <section class="section section-background bg-size-cover p-relative h-100 m-0"
                             style=" min-height: 500px;">
                        <div class="p-absolute bottom-10 right-10 rotate-l-90 appear-animation"
                             data-appear-animation="fadeIn" data-appear-animation-delay="300"
                             data-plugin-options="{'minWindowWidth': 0}">
                            <img width="123" height="126" src=""
                                 alt="Best cafes"
                                 data-icon data-plugin-options="{'onlySVG': true, 'extraClass': ''}"/>
                        </div>
                    </section>
                </div>
                <div class="col-lg-6 p-0">
                    <div class="h-100 m-0">
                        <div class="row m-0">
                            <div class="col-half-section col-half-section-left py-5">
                                <div class="p-3">
                                    <h4 class="custom-primary-font font-weight-semi-bold text-color-primary positive-ls-2 line-height-4 text-3 text-md-4-5 mb-0 appear-animation"
                                        data-appear-animation="fadeInUpShorterPlus" data-appear-animation-delay="300"
                                        data-plugin-options="{'minWindowWidth': 0}">بهترین باشید</h4>
                                    <h2 class="text-color-primary font-weight-bold ls-0 text-11 line-height-2 mb-3 appear-animation"
                                        data-appear-animation="fadeInUpShorterPlus" data-appear-animation-delay="500"
                                        data-plugin-options="{'minWindowWidth': 0}">محبوب ترین کافه ها</h2>
                                    <p class="text-color-default text-4 font-weight-normal line-height-7 mb-4 appear-animation"
                                       data-appear-animation="fadeInUpShorterPlus" data-appear-animation-delay="700"
                                       data-plugin-options="{'minWindowWidth': 0}">کافه هایی که بیشترین امتیاز را از
                                        کاربران بگیرند در این قسمت نمایش داده می شوند.</p>
                                    <span class="anim-hover-scale-1-1 transition-3ms d-inline-block">
                                        {% if request.user.is_authenticated %}
                                            <a href="#"
                                               class="btn btn-primary positive-ls-3 font-weight-normal btn-px-5 btn-py-3 text-uppercase appear-animation"
                                               data-appear-animation="fadeInUpShorterPlus"
                                               data-appear-animation-delay="900"
                                               data-plugin-options="{'minWindowWidth': 0}">نمایش کافه های اطراف</a>
                                        {% else %}
                                            <a href="#"
                                               class="btn btn-primary positive-ls-3 font-weight-normal btn-px-5 btn-py-3 text-uppercase appear-animation"
                                               data-appear-animation="fadeInUpShorterPlus"
                                               data-appear-animation-delay="900"
                                               data-plugin-options="{'minWindowWidth': 0}">نمایش کافه های اطراف</a>
                                        {% endif %}
											</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-lg-6 order-2 order-lg-1 p-0">
                    <div class="h-100 m-0">
                        <div class="row m-0">
                            <div class="col-half-section col-half-section-right py-5 ms-auto">
                                <div class="p-3">
                                    <h4 class="custom-primary-font font-weight-semi-bold text-color-primary positive-ls-2 line-height-4 text-3 text-md-4-5 mb-0 appear-animation"
                                        data-appear-animation="fadeInUpShorterPlus" data-appear-animation-delay="300"
                                        data-plugin-options="{'minWindowWidth': 0}">محبوب خریدار باشید</h4>
                                    <h2 class="text-color-primary font-weight-bold ls-0 text-11 line-height-2 mb-3 appear-animation"
                                        data-appear-animation="fadeInUpShorterPlus" data-appear-animation-delay="500"
                                        data-plugin-options="{'minWindowWidth': 0}">محبوب ترین فروشگاه ها</h2>
                                    <p class="text-color-default text-4 font-weight-normal line-height-7 mb-4 appear-animation"
                                       data-appear-animation="fadeInUpShorterPlus" data-appear-animation-delay="700"
                                       data-plugin-options="{'minWindowWidth': 0}">در این قسمت فروشگاه هایی که بیشترین
                                        امتیاز را از مشتریان خود دریافت کنند نمایش داده می شوند.</p>
                                    {% if user.user_type == "seller" %}
                                        <span class="anim-hover-scale-1-1 transition-3ms d-inline-block">
												<a href="#"
                                                   class="btn btn-primary positive-ls-3 font-weight-normal btn-px-5 btn-py-3 text-uppercase appear-animation"
                                                   data-appear-animation="fadeInUpShorterPlus"
                                                   data-appear-animation-delay="900"
                                                   data-plugin-options="{'minWindowWidth': 0}">نمایش محصولات فروشگاهی</a>
											</span>
                                    {% else %}
                                        <span class="anim-hover-scale-1-1 transition-3ms d-inline-block">
												<a href="#"
                                                   class="btn btn-primary positive-ls-3 font-weight-normal btn-px-5 btn-py-3 text-uppercase appear-animation"
                                                   data-appear-animation="fadeInUpShorterPlus"
                                                   data-appear-animation-delay="900"
                                                   data-plugin-options="{'minWindowWidth': 0}">نمایش محصولات فروشگاهی</a>
											</span>
                                    {% endif %}


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 order-1 order-lg-2 p-0">
                    <section class="section section-background bg-size-cover p-relative h-100 m-0"
                             style=" min-height: 500px;">
                        <div class="p-absolute top-10 left-10 rotate-r-90 appear-animation"
                             data-appear-animation="fadeIn" data-appear-animation-delay="600"
                             data-plugin-options="{'minWindowWidth': 0}">
                            <img width="123" height="126" src="" alt=""
                                 data-icon data-plugin-options="{'onlySVG': true, 'extraClass': ''}"/>
                        </div>
                    </section>
                </div>
            </div>
        </div>

        <!--- Clients logos --->
        <section class="section bg-transparent p-relative border-0 m-0 p-0">
            <div class="container py-5">
                <div class="row align-items-center text-center py-5">
                    <div class="col-sm-4 col-lg-2 mb-5 mb-lg-0">
                        <img src="" alt class="img-fluid"
                             style="max-width: 90px;"/>
                    </div>
                    <div class="col-sm-4 col-lg-2 mb-5 mb-lg-0">
                        <img src="" alt class="img-fluid"
                             style="max-width: 140px;"/>
                    </div>
                    <div class="col-sm-4 col-lg-2 mb-5 mb-lg-0">
                        <img src="" alt
                             class="img-fluid" style="max-width: 140px;"/>
                    </div>
                    <div class="col-sm-4 col-lg-2 mb-5 mb-sm-0">
                        <img src="" alt class="img-fluid"
                             style="max-width: 140px;"/>
                    </div>
                    <div class="col-sm-4 col-lg-2 mb-5 mb-sm-0">
                        <img src="" alt class="img-fluid"
                             style="max-width: 100px;"/>
                    </div>
                    <div class="col-sm-4 col-lg-2">
                        <img src="" alt class="img-fluid"
                             style="max-width: 100px;"/>
                    </div>
                </div>
            </div>
        </section>

        <!--- Blogs education --->
        <section class="section bg-secondary p-relative border-0 m-0 p-0" id="education">
            <div class="p-absolute top-10 left-10 rotate-r-90 appear-animation" data-appear-animation="fadeIn"
                 data-appear-animation-delay="600" data-plugin-options="{'minWindowWidth': 0}">
                <img width="123" height="126" src="" alt="" data-icon
                     data-plugin-options="{'onlySVG': true, 'extraClass': ''}"/>
            </div>
            <div class="container mb-0 py-5" id="blog">
                <div class="row pt-4 pb-2">
                    <div class="col">
                        <h3 class="text-color-primary font-weight-bold ls-0 text-8 mb-3 appear-animation"
                            data-appear-animation="fadeInUpShorterPlus" data-appear-animation-delay="100"
                            data-plugin-options="{'minWindowWidth': 0}"><a href="#">آموزشهای ما</a></h3>
                        <p class="text-color-default text-3 font-weight-normal line-height-7 mb-4 appear-animation"
                           data-appear-animation="fadeInUpShorterPlus" data-appear-animation-delay="300"
                           data-plugin-options="{'minWindowWidth': 0}">با آموزشهای سایت ما مهارتهای خود را ارتقاء داده و
                            همیشه بروز باشید.</p>
                    </div>
                </div>
                <div class="row justify-content-center appear-animation" data-appear-animation="fadeIn"
                     data-appear-animation-delay="300">
                    <div class="col-md-6 mb-4 mb-lg-0">
                        <a href="demo-beauty-salon-blog-post.html" class="text-decoration-none">
                            <div class="card border-0 bg-transparent">
                                <div class="card-img-top border-radius-0 position-relative">
                                    <div class="p-absolute top-0 left-0 d-flex justify-content-end py-3 px-4 z-index-3">
												<span class="text-center bg-primary text-color-light font-weight-semibold line-height-2 px-3 py-2">
													<span class="position-relative text-4 z-index-2">
														18
														<span class="d-block text-0 positive-ls-2 px-1">FEB</span>
													</span>
												</span>
                                    </div>
                                    <div class="thumb-info thumb-info-floating-element-wrapper" data-offset="-25">
                                        <div class="thumb-info-wrapper after-d-none">
                                            <img src=""
                                                 class="img-fluid" alt="Lorem Ipsum Dolor"/>
                                        </div>
                                        <span class="thumb-info-floating-element d-none">
													<span class="btn btn-primary btn-circle btn-lg p-events-none">
														<i class="fa fa-plus"></i>
													</span>
												</span>
                                    </div>
                                </div>
                                <div class="card-body py-4 px-0">
                                    <span class="d-block text-color-grey font-weight-semibold positive-ls-2 text-2">BY ADMIN</span>
                                    <h4 class="font-weight-semi-bold text-5 custom-primary-font custom-primary-font text-color-hover-primary mb-2">
                                        Lorem ipsum dolor sit a met, consectetur</h4>
                                    <a href="demo-beauty-salon-blog-post.html"
                                       class="read-more text-color-primary font-weight-semibold mt-0 text-2">Read More
                                        <i class="fas fa-angle-right position-relative top-1 ms-1"></i></a>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-6 mb-4 mb-lg-0">
                        <a href="demo-beauty-salon-blog-post.html" class="text-decoration-none">
                            <div class="card border-0 bg-transparent">
                                <div class="card-img-top border-radius-0 position-relative">
                                    <div class="p-absolute top-0 left-0 d-flex justify-content-end py-3 px-4 z-index-3">
												<span class="text-center bg-primary text-color-light font-weight-semibold line-height-2 px-3 py-2">
													<span class="position-relative text-4 z-index-2">
														18
														<span class="d-block text-0 positive-ls-2 px-1">FEB</span>
													</span>
												</span>
                                    </div>
                                    <div class="thumb-info thumb-info-floating-element-wrapper" data-offset="-25">
                                        <div class="thumb-info-wrapper after-d-none">
                                            <img src=""
                                                 class="img-fluid" alt="Lorem Ipsum Dolor"/>
                                        </div>
                                        <span class="thumb-info-floating-element d-none">
													<span class="btn btn-primary btn-circle btn-lg p-events-none">
														<i class="fa fa-plus"></i>
													</span>
												</span>
                                    </div>
                                </div>
                                <div class="card-body py-4 px-0">
                                    <span class="d-block text-color-grey font-weight-semibold positive-ls-2 text-2">BY ADMIN</span>
                                    <h4 class="font-weight-semi-bold text-5 custom-primary-font custom-primary-font text-color-hover-primary mb-2">
                                        Lorem ipsum dolor sit a met, consectetur</h4>
                                    <a href="demo-beauty-salon-blog-post.html"
                                       class="read-more text-color-primary font-weight-semibold mt-0 text-2">Read More
                                        <i class="fas fa-angle-right position-relative top-1 ms-1"></i></a>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </section>

        <!--- shop section to Blogs --->
        <div class="container py-5 shop" id="blog">
            <div class="row pt-4 pb-2">
                <div class="col">
                    <h3 class="text-color-primary font-weight-bold ls-0 text-8 mb-3 appear-animation"
                        data-appear-animation="fadeInUpShorterPlus" data-appear-animation-delay="100"
                        data-plugin-options="{'minWindowWidth': 0}"><a href="#">مقالات</a>
                    </h3>
                    <p class="text-color-default text-3 font-weight-normal line-height-7 mb-4 appear-animation"
                       data-appear-animation="fadeInUpShorterPlus" data-appear-animation-delay="300"
                       data-plugin-options="{'minWindowWidth': 0}">ما همواره سعی داریم تا با ارائه مطالب مفید و بروز
                        اطلاعات مفیدی را به شما منتقل کنیم.</p>
                    <hr>
                </div>
            </div>
            <div class="products row row-gutter-sm mb-4 appear-animation" data-appear-animation="fadeInUpShorter"
                 data-appear-animation-delay="750">

                {% for article in last_articles %}
                    <div class="col-12 col-md-4 mb-4 mb-lg-0">
                        <div class="product mb-0">
                            <div class="product-thumb-info border-0 mb-3">
                                <a href="#"
                                   class="quick-view text-uppercase font-weight-semibold text-2">
                                    مطالعه بیشتر
                                </a>
                                <a href="#">
                                    <div class="product-thumb-info-image bg-light">

                                            <img src="{{ article.image }}" class="img-fluid"
                                                 alt="Lorem Ipsum Dolor"/>


                                    </div>
                                </a>
                            </div>
                            <div class="d-flex justify-content-between">
                                <div>
                                    <h3 class="text-3-5 font-weight-medium custom-primary-font text-transform-none line-height-3 mb-0">
                                        <a href=""
                                           class="text-color-dark text-color-hover-primary">{{ article.title }}</a>
                                    </h3>
                                </div>
                            </div>
                            <div title="Rated 5 out of 5">
                                <input type="text" class="d-none" value="5" title="" data-plugin-star-rating
                                       data-plugin-options="{'displayOnly': true, 'color': 'default', 'size':'xs'}">
                            </div>
                        </div>
                    </div>
                {% endfor %}


            </div>
        </div>

        <!--- instagram section --->
        <div class="lightbox"
             data-plugin-options="{'delegate': '.thumb-info-action a', 'type': 'image', 'gallery': {'enabled': true}}">
            <div class="container-fluid p-0 mt-0">
                <div class="row gx-0 p-relative">
                    <div class="block-follow-instagram bg-primary text-color-light p-absolute transform3dxy-n50 top-50pct left-50pct z-index-1 text-center">
                        <div class="anim-hover-scale-1-1 transition-3ms d-inline-block">
                            <div class="pt-5 mt-1 pb-3">
                                <i class="fab fa-instagram text-13"></i>
                            </div>
                            <h2 class="text-color-light font-weight-bold fst-italic ls-0 text-8 line-height-2 mb-2 ws-nowrap">
                                ما را در اینستاگرام دنبال کنید.</h2>
                            <a dir="ltr" class="text-color-grey text-color-hover-light text-3"
                               href="{{ site_setting.instagram_link }}">@feecoffeeir</a>
                        </div>
                    </div>
                    <div class="col-6 col-lg-4 col-xl-2">
								<span class="thumb-info thumb-info-no-zoom thumb-info-swap-content thumb-info-centered-icons thumb-info-wrapper-direction-aware">
									<span class="thumb-info-wrapper">
										<img src=""
                                             class="img-fluid" alt="">
										<span class="thumb-info-wrapper-overlay">
											<span class="thumb-info-action">
												<a href="">
													<span class="thumb-info-action-icon thumb-info-action-icon-light"><i
                                                            class="fa fa-plus text-dark text-dark"></i></span>
												</a>
											</span>
										</span>
									</span>
								</span>
                    </div>
                    <div class="col-6 col-lg-4 col-xl-2">
								<span class="thumb-info thumb-info-no-zoom thumb-info-swap-content thumb-info-centered-icons thumb-info-wrapper-direction-aware">
									<span class="thumb-info-wrapper">
										<img src=""
                                             class="img-fluid" alt="">
										<span class="thumb-info-wrapper-overlay">
											<span class="thumb-info-action">
												<a href="">
													<span class="thumb-info-action-icon thumb-info-action-icon-light"><i
                                                            class="fa fa-plus text-dark text-dark"></i></span>
												</a>
											</span>
										</span>
									</span>
								</span>
                    </div>
                    <div class="col-6 col-lg-4 col-xl-2">
								<span class="thumb-info thumb-info-no-zoom thumb-info-swap-content thumb-info-centered-icons thumb-info-wrapper-direction-aware">
									<span class="thumb-info-wrapper">
										<img src=""
                                             class="img-fluid" alt="">
										<span class="thumb-info-wrapper-overlay">
											<span class="thumb-info-action">
												<a href="">
													<span class="thumb-info-action-icon thumb-info-action-icon-light"><i
                                                            class="fa fa-plus text-dark text-dark"></i></span>
												</a>
											</span>
										</span>
									</span>
								</span>
                    </div>
                    <div class="col-6 col-lg-4 col-xl-2">
								<span class="thumb-info thumb-info-no-zoom thumb-info-swap-content thumb-info-centered-icons thumb-info-wrapper-direction-aware">
									<span class="thumb-info-wrapper">
										<img src=""
                                             class="img-fluid" alt="">
										<span class="thumb-info-wrapper-overlay">
											<span class="thumb-info-action">
												<a href="">
													<span class="thumb-info-action-icon thumb-info-action-icon-light"><i
                                                            class="fa fa-plus text-dark text-dark"></i></span>
												</a>
											</span>
										</span>
									</span>
								</span>
                    </div>
                    <div class="col-6 col-lg-4 col-xl-2">
								<span class="thumb-info thumb-info-no-zoom thumb-info-swap-content thumb-info-centered-icons thumb-info-wrapper-direction-aware">
									<span class="thumb-info-wrapper">
										<img src=""
                                             class="img-fluid" alt="">
										<span class="thumb-info-wrapper-overlay">
											<span class="thumb-info-action">
												<a href="">
													<span class="thumb-info-action-icon thumb-info-action-icon-light"><i
                                                            class="fa fa-plus text-dark text-dark"></i></span>
												</a>
											</span>
										</span>
									</span>
								</span>
                    </div>
                    <div class="col-6 col-lg-4 col-xl-2">
								<span class="thumb-info thumb-info-no-zoom thumb-info-swap-content thumb-info-centered-icons thumb-info-wrapper-direction-aware">
									<span class="thumb-info-wrapper">
										<img src=""
                                             class="img-fluid" alt="">
										<span class="thumb-info-wrapper-overlay">
											<span class="thumb-info-action">
												<a href="">
													<span class="thumb-info-action-icon thumb-info-action-icon-light"><i
                                                            class="fa fa-plus text-dark text-dark"></i></span>
												</a>
											</span>
										</span>
									</span>
								</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}